.settings {
  float: left;
  width: 42%;
  padding: 4%;
  text-align: left;
  font-size: 18px;
  color: #7b297d;
}

.search {
  float: left;
  width: 42%;
  padding: 4%;
  text-align: right;
  font-size: 18px;
  color: #7b297d;
}


