.navbar {
  background: white;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.back {
  float: left;
  width: 33.33%;
}

.search {
  float: left;
  width: 33.33%;
}

.title {
  float: left;
  width: 33.33%;
}
