.navbar {
  background: white;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.back {
  float: left;
  width: 25.33%;
  padding: 4%;
  text-align: left;
}

.title {
  float: left;
  width: 29.33%;
  padding: 2%;
  text-align: center;
}

.find {
  float: left;
  width: 25.33%;
  padding: 4%;
  text-align: right;
}


