.navbar {
  background: white;
  width: 100vw;
  overflow: hidden;
  font-size: 18px;
}

.back {
  float: left;
  width: 12.33vw;
  padding: 4vw;
  text-align: left;
}

.title {
  float: left;
  width: 59.33vw;
  text-align: center;
}

.find {
  float: left;
  width: 12.33vw;
  padding: 4vw;
  text-align: right;
}
