.tileBoarder {
  background: linear-gradient(#5864ba, #7b297d);
  position: relative;
  padding: 1vw;
  margin: 1vw;
  width: 46vw;
  border-radius: 15px;
  float: left;
}

.tilePicture {
  width: 46vw;
  height: 46vw;
  border-radius: 12px;
}


h2 {
  text-align: center;
  color: #EAE8E5;
}

