.tileBoarder {
  background: linear-gradient(#5864ba, #7b297d);
  position: relative;
  padding: 1vw;
  margin: 1vw;
  width: 46vw;
  height: 46vw;
  border-radius: 15px;
  float: left;
}

.tilePictureBackground{
  background: #EAE8E5;
  width: 46vw;
  height: 46vw;
  border-radius: 12px;
}

.tilePicture {
  width: 46vw;
  height: 46vw;
  border-radius: 12px;
  opacity: 0.4;
}

.tileText {
  text-align: center;
  position: absolute;
  color: black;
  font-weight: bold;
  font-size: 20px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

