.dropTile{
  width: 100vw;
  padding: 5vw;
  padding-top: 1vw;
}

.dropTileHeadline{
  float: left;
  margin-top: 5vw;
  margin-bottom: 5vw;
  width: 80vw;
}

.dropTileIcon{
  float: left;
  width: 8vw;
  margin: 6vw;
}

.inlinediv {
  display: inline-block;
}