.dropTile{
  padding-bottom: 2vw;
  width: 100vw;
  float: left;
}

.dropTileHeadline{
  float: left;
  margin-top: 6vw;
  margin-left: 6vw;
  margin-bottom: 2vw;
  width: 74vw;
  font-size: large;
}

.dropTileIcon{
  float: right;
  width: 8vw;
  margin: 6vw;
  margin-bottom: 2vw;
  height: 8vw;
}

.dropTileBody{
  float: left;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 4vw;
    width: 90vw;
}

.inlinediv {
  display: inline-block;
  padding-left: 0vw;
}

.readMore{
  color: #5864BA;
  font-weight: bold;
}