.dropTile{
  padding-top: 1vw;
}

.dropTileHeadline{
  float: left;
  margin-top: 5vw;
  padding-left: 5vw;
  width: 75vw;
  font-size: large;
}

.dropTileIcon{
  float: left;
  width: 8vw;
  margin: 6vw;
}

.dropTileText{
  padding-left: 5vw;
  padding-right: 5vw;
}

.inlinediv {
  display: inline-block;
  padding-left: 0vw;
}