body{
  background-color: #EAE8E5;
}

button{
  background-color: #7b297d;
  color: #EAE8E5;
  padding: 3vw;
  border-radius: 3vw;
}

a {
  color: #7b297d;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}